@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #F5F1EA;
    color: #292522;
  }
}

/* Custom scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #F5F1EA;
}
::-webkit-scrollbar-thumb {
  background: #DED7CF;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #B08A57;
}
